<div class="jumbotron">
    <h1 class="display-4">About</h1>
        <h4 align="left"> 
        <p> <strong>Aplication</strong> is used to get information about cities <strong>time of sunrise/sunset</strong> according to It's coordinates. </p> 
        <p> Two services were implemented: </p>
        <p><strong> CitiesService</strong>, which provide opportunities </p>
        <ul>
            <li> <p> to add city to the DB </p></li>
            <li> <p> to delete city from the DB </p></li>
        </ul>    
        <p><strong> SunCityService</strong>, which provides opportunity to get information about time of sunrise/sunset </p>    
        <ul>
            <li> <p>  to get info </p></li>
        </ul>   
        <p><strong> Parameters: </strong></p>    
        <ul>
            <li> <p> action=sunset | sunset | both </p></li>    
            <li> <p> date=today | yyyy-mm-dd (example 2020-03-03) </p></li>   
            <li> <p> city (example city=TestCity) </p></li>
        </ul>
        </h4>
</div>
